.is-vcentered {
  justify-content: center;
  align-items: center;
}

.guild-icon .guild-image {
  margin: auto;
  margin-bottom: 0.5rem;
}

.guild-icon .guild-placeholder {
  background-color: #2c2f33;
  font-weight: 500;
  word-wrap: break-word;
}
